 body {
  font-family: Arial, sans-serif;
  background: #f4f7fc;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 
  color: #1565c0;
}

p {
  color: #555;
}
h2{
    color:white;
    font-size:28px;
}

button{
    background:#007bff;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    margin:10px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}
h2{
    color:#333;
    font-size:28px;
    font-weight:bold;
}
nav{
    background:#007bff;
    padding:15px;
    text-align:center;
}

nav h2{
    color:white;
    margin-bottom:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}
