body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f8ff;
    text-align:center;
}

header{
    background:linear-gradient(90deg,#00d084,#ffd43b);
    color:white;
    padding:20px;
    font-size:28px;
    font-weight:bold;
}

.hero{
    margin:30px auto;
    width:90%;
    max-width:700px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow: hu0 5px 20px rgba(0,0,0,.15);
}

.hero h2{
    color:#0099ff;
}

.hero p{
    color:#555;
}

input{
    width:90%;
    padding:12px;
    border:2px solid #00c853;
    border-radius:30px;
    font-size:16px;
}

button{
    background:linear-gradient(90deg,#00d084,#00a2ff);
    color:white;
    border:none;
    padding:12px 20px;
    margin:8px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

section{
    width:90%;
    max-width:700px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

section h2{
    color:#00a2ff;
}
   table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

th{
    background:#0099ff;
    color:white;
}
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef5ff;
display:flex;
justify-content:center;
padding:20px;
}

.container{
width:100%;
max-width:420px;
background:#fff;
padding:25px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.15);
text-align:center;
}

h1{
color:#007bff;
font-size:38px;
margin-bottom:10px;
}

.tagline{
font-size:20px;
font-weight:bold;
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:2px solid #007bff;
border-radius:10px;
outline:none;
}

.buttons{
display:flex;
justify-content:center;
gap:10px;
margin:15px
